*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100vw;
    min-height: 100vh;
    font-family: "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
}


h1{
    color: #000;
    font-size: 44px;
    font-weight: 700;
    font-style: normal;
    line-height: 44px;
    margin: 20px 0;
}

/* h2{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;  
} */
h3{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

h5{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

p{
    color: #000;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    margin: 10px 0;
    text-align: justify;
}

.link{
    margin: 20px 0;
}

.link2{
    margin: 20px 0 80px 0;
}
.link2 a{
    color:#0066F9;
    text-decoration: none;
}

a{
    color: #000;
}

.main{
    margin-top: 20px;
    margin-bottom: 50px;
}

hr.h1{
    border-top : 1px solid #EAEAEA;
    margin: 25px 0;
}

hr.h2{
    border-top : 1px solid #EAEAEA;
    margin-top: 50px;
 }

 hr.h3{
    border-top : 1px solid #756b6b;
    margin: 20px 0 40px 0;
 }

.container{
    width: 67%;
    margin: auto;
}




/* navbar */

nav{
    background:#EAEAEA;

}

.nav-container{
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.nav-item{
  
    margin-left: auto;
}
.nav-item ul{
    display : flex;
}

.nav-item li{
    margin-left: 30px;
    padding: 10px;
}

.nav-item a{
    text-decoration : none;
    font-size: 17px;
    color: #000;
}

.nav-item li:hover{
    border-bottom : 5px solid #0066F9; 
}

.active{
    border-bottom : 5px solid #0066F9; 
}

.brand-logo{
    width: 165px;
}

.brand-logo img{
    width: 100%;
    height: 100%;
}


.button{
    background: #0066F9;
    border-radius: 2px;
}

 .button a{
     color: #FFF;
 }


 /* blog items */

.blog-card-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 15px;
    margin: 25px 0 40px 0;
}

.blog-card-container a{
   text-decoration: none;
}


.blog-card{
    background: #EAEAEA;
    overflow: hidden;

}


.blog-img-container{
    width: 100%;
    height: 100%;
}

.blog-img-container img{
    width: 600px;
    height: 250px;
    object-position: center;
    object-fit: cover;
}

.blog-type-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-type{
    background: #7D4CDB;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-top: -17px;
    padding: 10px;
}

.blog-info{
    padding: 0 20px 20px 20px;
}
.blog-page h1{
    color: #000;
    font-size: 36px;
    margin: 16px 0;
}

.blog-page h2{
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}

.blog-page h3{
    color: #000;
    font-size: 24px;
    margin: 12px 0;
}
.blog-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
}
.blog-page img{
    width: 1080px;
    height: 500px;
    object-position: center;
    object-fit: cover;
    
}

.blog-page .title{
    color: #000;
    font-size: 44px;
    font-weight: 700;
    font-style: normal;
    line-height: 44px;
    margin: 30px 0;
}




 /* Footer */



 .icons i{
    font-size: 50px;
    color: #0066F9;
    padding: 20px 0;
 }
 .icons span{
     margin-right: 15px;
     
 }

 